<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>BioRuby</title>
<link href="bioruby.css" media="screen" rel="Stylesheet" type="text/css" />
</head>

<body>

<div id="content">

 <div id="side">
  <div class="title">News</div>
  <ul>
   <li>2011/08/26 <p><a href="http://bioruby.org/archive/bioruby-1.4.2.tar.gz">BioRuby 1.4.2</a> released (<a href="https://github.com/bioruby/bioruby/blob/1.4.2/ChangeLog">ChangeLog</a>)</p></li>
   <li>2010/12/24 <p>BioRuby <a href="http://bioruby.open-bio.org/wiki/Plugins">plugin system</a> is released</li>
   <li>2010/10/22 <p><a href="http://bioruby.org/archive/bioruby-1.4.1.tar.gz">BioRuby 1.4.1</a> released (<a href="http://github.com/bioruby/bioruby/blob/1.4.1/ChangeLog">ChangeLog</a>)</p></li>
   <li>2010/08/25 <p><a href="http://bioinformatics.oxfordjournals.org/cgi/content/abstract/btq475">BioRuby paper</a> is published</li>
   <li>2009/12/29 <p><a href="http://bioruby.org/archive/bioruby-1.4.0.tar.gz">BioRuby 1.4.0</a> released (<a href="http://github.com/bioruby/bioruby/blob/1.4.0/ChangeLog">ChangeLog</a>)</p></li>
   <li>2009/09/03 <p><a href="http://bioruby.org/archive/bioruby-1.3.1.tar.gz">BioRuby 1.3.1</a> released (<a href="http://github.com/bioruby/bioruby/blob/1.3.1/ChangeLog">ChangeLog</a>)</p></li>
   <li>2009/03/15-21 <p><a href="http://hackathon2.dbcls.jp/">BioHackathon 2009</a></p></li>
   <li>2009/02/24 <p><a href="http://bioruby.org/archive/bioruby-1.3.0.tar.gz">BioRuby 1.3.0</a> released (<a href="http://github.com/bioruby/bioruby/blob/1.3.0/ChangeLog">ChangeLog</a>)</p></li>
   <li>2008/09/01 <p><a href="http://lists.open-bio.org/pipermail/bioruby/2008-September/000700.html">BioRuby has officially moved from CVS to git</a></p></li>
   <li>2008/02/18 <p>New site hosted at <a href="http://open-bio.org/">(O|B|F)</a></p></li>
   <li>2008/02/11-15 <p><a href="http://hackathon.dbcls.jp/">BioHackathon 2008</a></p></li>
   <li>2007/12/30 <p><a href="http://bioruby.org/archive/bioruby-1.2.1.tar.gz">BioRuby 1.2.1</a> released (<a href="http://cvs.open-bio.org/cgi-bin/viewcvs/viewcvs.cgi/bioruby/ChangeLog?rev=1.79&cvsroot=bioruby&content-type=text/vnd.viewcvs-markup">ChangeLog</a>)</p></li>
   <li>2007/12/15 <p><a href="http://bioruby.org/archive/bioruby-1.2.0.tar.gz">BioRuby 1.2.0</a> released (<a href="http://cvs.open-bio.org/cgi-bin/viewcvs/viewcvs.cgi/bioruby/ChangeLog?rev=1.71&cvsroot=bioruby&content-type=text/vnd.viewcvs-markup">ChangeLog</a>)</p></li>
   <li>2007/07/19-20 <p><a href="http://www.open-bio.org/wiki/BOSC_2007">BOSC 2007</a> (<a href="http://bioruby.org/archive/doc/BR070719-bosc.pdf">PDF</a>)</p></li>
   <li><a href="http://bioruby.open-bio.org/wiki/History">... more ...</a></li>
  </ul>

  <div class="title">Links</div>
  <ul>
   <li><a href="http://www.ruby-lang.org/">Ruby</a><br />
       + <a href="http://raa.ruby-lang.org/list.rhtml?name=BioRuby">Ruby Application Archive</a><br />
       + <a href="http://rubyforge.org/projects/bioruby/">RubyForge</a></li>
   <li><a href="http://open-bio.jp/">O|B|J</a><br />
       + <a href="http://www.chemruby.org/">ChemRuby</a></li>
   <li><a href="http://open-bio.org/">O|B|F</a><br />
       + <a href="http://www.bioperl.org/">BioPerl</a><br />
       + <a href="http://www.biopython.org/">BioPython</a><br />
       + <a href="http://www.biojava.org/">BioJava</a></li>
   <li>Misc<br />
       + <a href="http://www.biolisp.org/">BioLisp</a><br />
       + <a href="http://www.biodas.org/">BioDAS</a><br />
       + <a href="http://www.biomoby.org/">BioMOBY</a><br />
       + <a href="http://bioinformatics.org/">Bioinformatics.org</a></li>
  </ul>

  <br />
  <a href="http://bioruby.org/"><img src="images/bioruby-link.gif" alt="bioruby.org" border="0" /></a>
 </div><!-- side -->

 <div id="title">
  <p class="titletop">BioRuby</p>
  <p class="titlesub">Open source bioinformatics library for Ruby</p>
 </div><!-- title -->

 <div id="main">

  <div id="main_top">
   <div class="section_title">Announcements</div>
   <ul>
    <li><a href="http://gems.bioruby.org/">Biogem</a> is community developed plugins for the BioRuby. See the <a href="http://biogems.info/">complete list</a>, <a href="http://bioruby.open-bio.org/wiki/Plugins">generic information</a>, <a href="http://www.biogems.info/doc/README_rdoc.html">README</a>, <a href="http://www.biogems.info/howto.html">HOWTO</a> and <a href="http://www.biogems.info/doc/Tutorial_rdoc.html">Tutorial</a>.</li>
    <li>We will discontinue our bug tracking system on <a href="http://rubyforge.org/projects/bioruby/">RubyForge</a>. Instead, please use <a href="https://redmine.open-bio.org/projects/bioruby">Redmine system provided at O|B|F</a> for bug reports.</li>
    <li>We had the first BioRuby world wide IRC conference on Dec 19th 2010 and agreed to continue weekly IRC meeting on every Thursday (<a href="http://bioruby.open-bio.org/wiki/BioRuby_IRC_conference">details</a>). The log is available <a href="http://irc.bioruby.org/">here</a>.</li>
   </ul>

   <div class="section_title">Project overview</div>
   <p>BioRuby project provides an integrated environment in bioinformatics for the <a href="http://www.ruby-lang.org/">Ruby</a> language. This project is supported by <a href="http://www.hgc.jp/">University of Tokyo</a> (Human Genome Center), <a href="http://www.bic.kyoto-u.ac.jp/">Kyoto University</a> (Bioinformatics Center) and the <a href="http://open-bio.org/">Open Bio Foundation</a>.</p>
   <div class="section_title">Reference</div>
   <p>
BioRuby: Bioinformatics software for the Ruby programming language<br/>
Naohisa Goto, Pjotr Prins, Mitsuteru Nakao, Raoul Bonnal, Jan Aerts and Toshiaki Katayama<br/>
<i>Bioinformatics</i> (2010) 26(20): 2617-2619. <a href="http://bioinformatics.oxfordjournals.org/cgi/content/abstract/btq475">doi: 10.1093/bioinformatics/btq475</a>
   </p>
  </div>

  <div id="main_left">

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-doc.png" alt="documentation" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">Documentation</div>
        <ul>
         <li><a href="http://bioruby.open-bio.org/wiki/">Wiki page</a><br />
          + <a href="http://bioruby.open-bio.org/wiki/Tutorial">Tutorial</a><br />
          + <a href="http://bioruby.open-bio.org/wiki/SampleCodes">Sample codes</a><br /></li>
         <li><a href="http://dev.bioruby.org/ja/">Japanese Wiki page</a></li>
         <li><a href="http://bioruby.org/rdoc/">API documentation</a></li>
        </ul>
       </div>
      </td>
     </tr>
    </table>
   </div>

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-keynote.png" alt="presentations" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">Presentations</div>
        <ul>
         <li><a href="http://bioruby.org/archive/doc/">English slides</a></li>
         <li><a href="http://bioruby.org/archive/doc/Japanese">Japanese slides</a></li>
         <li><a href="http://bioruby.org/archive/doc/Japanese/BR070326-ws-k.mov">Video cast</a></li>
        </ul>
       </div>
      </td>
     </tr>
    </table>
   </div>

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-dev.png" alt="development" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">Development</div>
        <ul>
         <li><a href="http://github.com/bioruby/bioruby">GitHub</a></li>
         <li><a href="https://redmine.open-bio.org/projects/bioruby">Bug report</a></li>
<!--
         <li><a href="http://code.open-bio.org/cgi-bin/viewcvs/viewcvs.cgi/?cvsroot=bioruby">BioRuby CVS repository</a> hosted by <a href="http://www.open-bio.org/wiki/SourceCode">(O|B|F)</a> is now deprecated.</li>
-->
        </ul>
       </div>
      </td>
     </tr>
    </table>
   </div>

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-shell.png" alt="bioruby shell" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">BioRuby shell</div>
        <p>BioRuby comes with an <a href="http://bioruby.open-bio.org/wiki/BioRubyOnRails">interactive shell</a> also capable as a plugin for the <a href="http://rubyonrails.org/">Ruby on Rails</a></p>
       </div>
      </td>
     </tr>
    </table>
   </div>

  </div><!-- main_left -->

  <div id="main_right">

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-download.png" alt="download" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">Download</div>
        <ul>
         <li><a href="http://rubyforge.org/projects/bioruby/">RubyGems package</a></li>
         <li><a href="http://bioruby.org/archive/">Source code archive</a></li>
         <li><a href="http://gems.bioruby.org/">Plugins</a> (<a href="http://bioruby.open-bio.org/wiki/Plugins">usage</a>)</li>
         <li><a href="http://bioruby.org/contrib/">Contributed codes</a></li>
        </ul>
       </div>
      </td>
     </tr>
    </table>
   </div>

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-mail.png" alt="mailing list" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">Mailng lists</div>
        <ul>
         <li><a href="http://lists.open-bio.org/mailman/listinfo/bioruby">English list</a></li>
         <li><a href="http://lists.open-bio.org/mailman/listinfo/bioruby-ja">Japanese list</a></li>
<!--     <li><a href="http://lists.open-bio.org/mailman/listinfo/bioruby-cvs">CVS commit log</a></li> -->
        </ul>
       </div>
      </td>
     </tr>
    </table>
   </div>

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-link.png" alt="community" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">Community</div>
        <ul>
         <li><a href="http://bioruby.open-bio.org/wiki/Contributors">Contributors</li>
         <li><a href="http://bioruby.open-bio.org/wiki/Links#Blogs">Blogs</a></li>
        </ul>
       </div>
      </td>
     </tr>
    </table>
   </div>

   <div class="section">
    <table>
     <tr>
      <td>
       <div class="section_image">
        <img src="images/bioruby-icon-ipa.png" alt="IPA" />
       </div>
      </td>
      <td>
       <div class="section_text">
        <div class="section_title">IPA</div>
        <p>Our project was supported by Information-technology Promotion Agency (<a href="http://www.ipa.go.jp/">IPA</a>) as an <a href="http://www.ipa.go.jp/jinzai/esp/">Exploratory Software Project</a> in 2005</p>
       </div>
      </td>
     </tr>
    </table>
   </div>

  </div><!-- main_right -->

 </div><!-- main -->

</div><!-- content -->

</body>

</html>
