- @layout = "bioruby"

#content
  #side
    .title News
    .title Links
  .title
    .titletop BioRuby
    .titlesub Open source bioinformatics library for Ruby

  #main
    #main_top
      .section_title Announcements
    .ul
      .ul Biogem community developed plugins for BioRuby.


