- @layout = "bioruby"

#content
  #side
    .title News
    .title Links
  #title
    %img#bioruby-logo{:src => "./images/bioruby-gem.png", :alt => "BioRuby"}
    .titletop BioRuby
    .titlesub Open source bioinformatics library for Ruby

  #main
    #main_top
      .section_title Announcements
      %ul
        %li Biogem community developed plugins for BioRuby.


