-# index.html for biogems.info

-#= partial "requires_prerelease"
-#= content_navigation("What is Compass?", "Using Compass with StaticMatic", "Using Compass's CSS Frameworks")

#plugins
  #list
    %table
      - by_popularity do |i, name|
        %tr
          %td
            #index
            = i
          %td
            .name
            = name
