- @layout = "usersmap"

%h1{:id=>"title"} Markers Layer Example
%div{:id=>"tags"}
  Marker, event, mousedown, popup, inco
%div
%div{:id=>"shortdesc"}
  Show markers layer with different markers
%div
%div{:id=>"map", :class=>"smallmap olMap"}
%div
%div{:id=>"docs"}
  %p This is an example of an OpenLayers.Layers.Markers layer that shows some examples of adding markers.  Also demonstrated is registering a mousedown effect on a marker.
%div