!!!
%html
  %head
    %title biogems.info
    %link{:rel => "stylesheet", :href => "./stylesheets/screen.css", :media => "screen"}
  %body
    #page
      #header
        %h1 Biogems.info
        .subheader
          Ruby for bioinformatics
      #content= yield
      #footer
        %hr
        #links
          %div{ :align => "right", :style => "float: right" }
            =link "biogems.info","http://biogems.info"
            website generated using staticmatic, haml and sass
          %div
            %ul
              %li
                Documentation for creating a new  
                = link "Biogem plugin", "http://bioruby.open-bio.org/wiki/Plugins"
              %li
                Source code for this website
                = link "biogems.info source", "http://github.org/pjotrp/biogems.info"
              %li
                The main 
                = link "BioRuby.org", "http://bioruby.org/"
                project website and mailing list

