/* line 9 */
body {
  background: #f8f8f8;
}
/* line 11 */
body a {
  text-decoration: none;
}

/* line 15 */
#header {
  background: #990000;
  color: white;
}
/* line 18 */
#header .maintitle {
  position: relative;
  top: -25px;
  left: 60px;
  font-style: bold;
  font-size: xx-large;
  color: white;
}
/* line 26 */
#header .maintitle a {
  text-decoration: none;
  color: white;
}
/* line 30 */
#header .imgtitle {
  font-style: bold;
  text-align: right;
  position: relative;
  top: 25px;
  left: -30px;
}
/* line 38 */
#header .tabs {
  font-style: bold;
  position: relative;
  top: -5px;
  left: 160px;
}
/* line 44 */
#header .tabs a {
  text-decoration: none;
  color: white;
}
/* line 48 */
#header .subheader {
  font-style: bold;
  text-align: right;
  color: white;
}
/* line 54 */
#header .subheader a {
  text-decoration: none;
  color: white;
}

/* line 60 */
#plugins #list {
  background: #e8e8e8;
  color: #7d2252;
}
/* line 63 */
#plugins #list .even {
  background: #e8e8e8;
}
/* line 65 */
#plugins #list .odd {
  background: #f8f8f8;
}
/* line 67 */
#plugins #list .status {
  font-size: small;
  color: #9900cc;
  text-align: center;
}
/* line 73 */
#plugins #list .cite {
  color: #9900cc;
  font-size: small;
}
/* line 77 */
#plugins #list .author {
  font-size: small;
}
/* line 80 */
#plugins #list .issues {
  font-size: small;
  text-align: right;
}
/* line 85 */
#plugins #list .released {
  font-size: small;
  white-space: nowrap;
  text-align: center;
}
/* line 91 */
#plugins #list .version {
  font-size: small;
}
/* line 94 */
#plugins #list .dl {
  font-size: small;
}

/* line 99 */
.footnote {
  font-family: Verdana;
  font-size: 8pt;
}

/* line 104 */
#footer {
  font-family: Verdana;
  font-size: 8pt;
}

/* line 109 */
.smallmap {
  width: 512px;
  height: 512px;
  border: 1px solid #cccccc;
}
