/* line 9 */
body {
  background: #f8f8f8;
}
/* line 11 */
body a {
  text-decoration: none;
}

/* line 15 */
#header {
  background: #990000;
  color: white;
}
/* line 18 */
#header .supheader {
  font-style: bold;
  text-align: right;
}
/* line 23 */
#header .subheader {
  font-style: bold;
  text-align: right;
  color: white;
}
/* line 29 */
#header .subheader a {
  text-decoration: none;
  color: white;
}

/* line 35 */
#plugins #list {
  background: #e8e8e8;
  color: #7d2252;
}
/* line 38 */
#plugins #list .even {
  background: #e8e8e8;
}
/* line 40 */
#plugins #list .odd {
  background: #f8f8f8;
}
/* line 42 */
#plugins #list .status {
  font-size: small;
  color: #9900cc;
  text-align: center;
}
/* line 48 */
#plugins #list .cite {
  color: #9900cc;
  font-size: small;
}
/* line 52 */
#plugins #list .author {
  font-size: small;
}
/* line 55 */
#plugins #list .issues {
  font-size: small;
  text-align: right;
}
/* line 60 */
#plugins #list .released {
  font-size: small;
  white-space: nowrap;
  text-align: center;
}
/* line 66 */
#plugins #list .version {
  font-size: small;
}
/* line 69 */
#plugins #list .dl {
  font-size: small;
}

/* line 74 */
.footnote {
  font-family: Verdana;
  font-size: 8pt;
}

/* line 79 */
#footer {
  font-family: Verdana;
  font-size: 8pt;
}

/* line 84 */
.smallmap {
  width: 512px;
  height: 512px;
  border: 1px solid #cccccc;
}
