!!!
%html
  %head
    %title biogems.info - gems for bioinformatics
    %meta{:name => "description", :content => "Ruby and other software gems for science and bioinformatics"}
    %meta{:name => "keywords", :content => "bioinformatics,gem,software,ruby,programming"}
    %link{:rel => "stylesheet", :href => "./stylesheets/screen.css", :media => "screen"}
  %body
    #page
      = partial('header')
      #content= yield
      = partial('footer')

