!!!
%html
  %head
    %title biogems.info
    %link{:rel => "stylesheet", :href => "./stylesheets/screen.css", :media => "screen"}
  %body
    #page
      = partial('header')
      #content= yield
      = partial('footer')

