$lightgrey: #E8E8E8
$lightgrey2: #F8F8F8 
$plugin: #7D2252
$ruby: #990000

body
  background: $lightgrey2

#header
  background: $ruby
  color: white
  .subheader
    font:
      style: italic
    text:
      align: right
    color: $ruby

#plugins
  #list
    background: $lightgrey
    color: $plugin
    td
      .index
        color: black
      .author
        font:
          size: small

.footnote
  font:
    family: Verdana
    size: 8pt

#footer  
  font:
    family: Verdana
    size: 8pt
  
