$lightgrey: #E8E8E8
$lightgrey2: #F8F8F8 
$plugin: #7D2252
$ruby: #990000
$tab:  #880000
$status: #9900CC
$url: blue
$url_visited: $ruby

body
  background: $lightgrey2
  a
    text:
      decoration: none

#header
  background: $ruby
  color: white
  .maintitle
    position: relative
    top: -25px
    left: 60px
    font:
      style: bold
      size: xx-large
    color: white
    a
      text:
        decoration: none
      color: white
  .imgtitle
    font:
      style: bold
    text:
      align: right
    position: relative
    top:  25px
    left: -30px
  .subheader
    font:
      style: bold
    color: white
    a
      text:
        decoration: none
      color: white
  .tabs
    font:
      style: bold
      size: x-large
    position: relative
    top:  -5px
    left: 160px
    a
      text:
        decoration: none
      color: white
  .rightheader
    position: relative
    top:  -25px
    a
      text:
        decoration: none
      color: white

#plugins
  #list
    background: $lightgrey
    color: $plugin
    .even
      background: $lightgrey
    .odd
      background: $lightgrey2
    .status 
      font:
        size: small
      color: $status
      text:
        align: center
    .cite
      color: $status
      font:
        size: small
    .author
      font:
        size: small
    .issues
      font:
        size: small
      text:
        align: right
    .released
      font:
        size: small
      white-space: nowrap
      text:
        align: center
    .version
      font:
        size: small
    .commit
      font:
        size: small
    .github
      font:
        size: small
    .citest
      font:
        size: small
    .dl
      font:
        size: small
    .commits
      font:
        size: small



.footnote
  font:
    family: Verdana
    size: 8pt

#footer  
  font:
    family: Verdana
    size: 8pt

.smallmap
  width: 512px
  height: 512px
  border: 1px solid #CCC
